body {
    position: relative; /* Make the body a positioned container */
    min-height: 100vh; /* Set a minimum height of the viewport (100% of the viewport height) */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#footer {
    font-family: 'Times New Roman', Times, serif;
    position: absolute; /* Position the footer absolutely within the body */
    bottom: 0; /* Place it at the bottom */
    left: 0; /* Align it to the left if needed */
    right: 0; /* Align it to the right if needed */
    text-align: center; /* Center-align the text within the footer */
   /* background-color: #f0f0f0; Add a background color for visibility */
    padding: 10px 0; /* Add some padding for spacing */
}


#profilepic {
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 30px;
    border-radius: 50%;
    /* border-color: black; */
    border: 3px solid rgb(0, 0, 0);;
}

#headings {
    padding-top: 60px;
    padding-left: 30px;
    color:rgb(0, 0, 0);
    font-family: 'cursive','Times New Roman', Times, serif;
    
}

#lastname{
    color:rgb(240, 119, 149);
}

/* #buttons{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 170px;
    font-size: small;
} */

#threeBtns {
    text-align: center; /* Center-align the buttons horizontally */
  }
  
  /* Add some spacing between buttons (optional) */
#threeBtns button {
    margin: 0 0; /* Adjust the margin as needed */
  }


#youtubeBtn, #linkedinBtn, #githubBtn, #contactBtn, #downloadBtn{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    color: rgb(255, 255, 255);
}

/* #footer{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 220px;
    font-size: small;
} */


.navbar {
overflow: hidden;
background-color: #333; /* Background color of the navbar */
}

/* Style for the links in the navbar */
.navbar a {
float: left;
display: block;
color: white; /* Color of the link text */
text-align: center;
padding: 1px 5px; 
text-decoration: none;
}

/* Change the color of the links when hovered over */
.navbar a:hover {
background-color: #ddd; /* Background color on hover */
color: black; /* Color of the link text on hover */
}